/* 

Study notes 
============
Write about edge functions here 
Write about rideflow 
Finish rideflow


Start stage 2 with twig ( completed )
start with vue (completed)


Start next js project 
start react native project.

Start Coursera full stack project 

Started udemy mern house project 
*/